#homepage-image {
  max-width: 250px;
  margin: 0 2rem 2rem 0;
  float: left;

  @media(--phone) {
    max-width: 200px;
    float: none;
  }
}

#homepage-videos {
  display: flex;

  a {
    margin-right: 1rem;
    img {
      max-height: 140px;
    }
  }
}



