.job-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-title .tools {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.job-title .tools img {
  height: 1.5rem;
  margin: .5rem;
}
